:root{
  --top-color: #010101;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  background-color: var(--top-color);
  font-size: 14px;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.top-title{
  color: white;
  font-weight: 400;
  margin: 5px;
}

.support{
  font-size: 16px;
  color: rgb(115, 115, 249);
}

.top-below{
  background-color: rgba(227, 226, 226, 0.7);
  display: flex;
  padding: 15px;
  gap: 6%;
  width: 100%;
}

.top-below .logo{
  font-size: 25px;
  color: #000000a8;
  font-weight: 300;
  padding-left: 5px;
}
.menu{
  display: flex;
  gap: 18px;
  align-items: center;
  padding: 0 5% 0 5%;
}
.menu input{
  padding: 5px 3px;
  border: 1px solid black;
}
.menu a{
  color: #444444ff;
  font-size: 15px;
}
.home{
  font-weight: 700;
}
.matter{
  margin: 80px 0 2% 5%;
  max-width: 900px;
  padding-right: 9%;
}
.matter-title{
  font-size: 55px;
  color: black;
  font-weight: 100;
}
.number{
  font-size: 12px;
  color: rgb(115, 115, 249);
}

.matter-dis{
  color: rgb(180, 180, 180);
  font-size: 50px;
  font-weight: lighter;
  line-height: 1;
}
span{
  color: #259dff;
  cursor: pointer;
}
.list{
  display: none;
}
.install{
  border: 1px solid rgba(99, 99, 99, 0.177);
  width: 350px;
  margin: 45px 0 0 5%;
  font-size: 12px;
  border-radius: 2px;
  padding: 5px 10px 5px;
  font-family: Consolas,Monaco,andale mono,monospace;
}
.hello{
  margin: 25px 0 0 5%;
  max-width: 1000px;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.7;
  border: 1px solid rgba(255, 225, 0, 0.325);
  background-color: rgba(255, 208, 0, 0.133);
  border-radius: 2px;
  padding: 15px;
  margin: 25px 5% 32px;
}
.anoun{
  padding-right: 3px;
}
.beta{
  font-weight: 200;
  font-size: 13px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0 5%;
  max-width: 1000px;
  justify-content: space-between;
}
.subs{
  width: 220px;
}
.sub-title{
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
}
.sub-matter{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(85, 85, 85);
}
.one,.two,.three{
  font-size: 12px;
  max-width: 1090px;
  box-sizing: border-box;
  padding-left: 9%;
  text-align: center;
}
.one{
  margin: 75px 0 25px 0;
}
.two{
  margin: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.three{
  margin: 0 0 35px 0;
  align-items: center;
}
.star-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.star{
  padding: 3px 3px;
  font-size: 11px;
  font-weight: 800;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.938);
}
a{
  color: #259dff;;
}